WebContent/wsdl/PersonaImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://implement.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://implement.com" xmlns:intf="http://implement.com" xmlns:tns1="http://modelo.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://implement.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://modelo.com"/>
   <element name="getById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getByIdResponse">
    <complexType>
     <sequence>
      <element name="getByIdReturn" type="tns1:Persona"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://modelo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Persona">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="apellidos" nillable="true" type="xsd:string"/>
     <element name="fechaNacimiento" nillable="true" type="xsd:dateTime"/>
     <element name="numeroCelular" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getByIdRequest">

      <wsdl:part element="impl:getById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getByIdResponse">

      <wsdl:part element="impl:getByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonaImpl">

      <wsdl:operation name="getById">

         <wsdl:input message="impl:getByIdRequest" name="getByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getByIdResponse" name="getByIdResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonaImplSoapBinding" type="impl:PersonaImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonaImplService">

      <wsdl:port binding="impl:PersonaImplSoapBinding" name="PersonaImpl">

         <wsdlsoap:address location="http://localhost:9001/WebServiceSOAP/services/PersonaImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
